@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to Add Address Excercise</h3>
    <p>It was built with C#/ASP.NET Core in Microsoft Visual Studio</p>
    <p class="subheading">Please click Address menu at the top and add a new address</p>
</div>
